<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<h1>Lo sentimos, {{nombre}}. Debes verificar tus datos para poder registrarte</h1>

<button onclick="volver()" class="bg-light m-auto btn">Volver</button>

<script>
    const volver = () => {
  location.replace("http://localhost:3000/")
}
</script>
   <style>
      body {
        background: black;
        color: white;
        text-align: center;
        padding: 50px;
      }

      td,
      th {
        color: white;
      }

      .col {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
    </style>
  </div>
</div>
